<h1>ArtCars</h1>
<table id="art-car-table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Hometown</th>
			<th>Power source</th>
			<th>Flame effects</th>
			<th>Street legal</th>
			<th>Thumbnail</th>
		</tr>
	</thead>
	<tbody>
		<% @art_cars.each do |art_car| %>
			<tr>
				<td><%= link_to art_car.name, art_car %></td>
				<td><%= art_car.hometown %></td>
				<td><%= art_car.power_source %></td>
				<td><%= art_car.flame_effects ? 'Yes' : 'No' %></td>
				<td><%= art_car.street_legal ? 'Yes' : 'No' %></td>
				<td><%= image_tag(art_car.photo_url, size: '160x120') %></td>
				<td><%= link_to "Edit", edit_art_car_path(art_car)%></td>
				<% if current_user %>
					<td><%= button_to "Delete", art_car_path(art_car), {method: :delete, confirm: "Dude are you sure????"}%></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "Add art car", new_art_car_path %>