<h1>New art car</h1>

<%= form_for @art_car do |f| %>
	<div>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>

	<div>
		<%= f.label :hometown %><br />
		<%= f.text_field :hometown %>
	</div>

<!-- ['Gasoline', 'Diesel', 'Electric', 'Natural Gas', 'other'] -->


	<fieldset>
		<div>
			<%= f.label :street_legal, 'yes' %>
			<%= f.radio_button :street_legal, 1 %><br />
			<%= f.label :street_legal, 'no' %>
			<%= f.radio_button :street_legal, 0 %>
		</div>
	</fieldset>

	<div>
		<%= f.label :photo_url %><br />
		<%= f.text_field :photo_url %>
	</div>

	<div><%= f.submit %></div>
<% end %>